header{
    background-color: rgba(255, 255, 255, 0.70);
    padding: 10px 0 10px 0;
    display: grid;

    grid-template-rows: 1fr; /* Две строки с равными долями пространства */
    grid-template-columns: 1.2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1.2fr; /* Три столбца с разными долями пространства */

    align-items: center;
    width: 100%;
    position: fixed;

    backdrop-filter: blur(15px);
}


.headerLinks{
    text-decoration: none;
    color:black;
}

.hotlineCallingLogo{
    margin-right: 10px;
}

.headerHotlineNumber{
    display: flex;
    align-items: center;
    justify-content: center;
}
