.mainContainer{

    height: 2000px;

}

.white_block{
    background-color:white;
    padding-top: 100px;
}


.mainInfo{
    color:#E0E0E0;

    padding-top: 4.5%;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.block1 p{
    padding-top: 10px;
    opacity:50%
}

.block2Label1{
    padding-top: 10px;
    padding-bottom: 10px;
}

.block2Label2{
    opacity: 50%;
}

.callAndBigPicture{
    margin-top: 2%;
}

.bigPicture{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 234px 234px 0 0;
    z-index: -3;
}
.bigPicture img{
    border-radius: inherit;
}

.callCircle{
    position:absolute;
    z-index: -1;
    left: 16.4%;
}

.callCircleDefault{
    position: inherit;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.callCircleDefault:hover{
    opacity: 0;
}

.callCircleFocus{
    position: inherit;
    z-index: -2;
}